// Variables
$light-color: #FFC300;
$font-stack: Trebuchet MS, Arial, sans-serif;
$main-color: #000814;
$accent-color: #a2d0fc;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// General styles
body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

// Header/Hero styles
.hero {
  background-color: $main-color;
  color: white;
  height: 600px;

  // Nested styles
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 15px;

        a {
          color: white;

          // Using & to denote the parent selector
          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }

  // Hero content
  .hero-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

// SCSS @each directive to generate utility classes
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
